* {
	box-sizing: border-box;
}

body {

	background:black;
}

label,p {

	color: red;
}

.newTerm {

	margin-top:10px;
	background: red;
/*Why can't I change button color to blue??? or change margins etc*/
clear:both;
}

.images,p {
	float:left
}
.giphydiv  {

	border-style: solid;
	border-width: 5px;
	border-color: red;
}

/*Why can't I change border properties of giphydiv*/